[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group saml/onap-gerrit-music-committers
	read = deny group GitHub Replication
[project]
	description = This repo contains the code for a multi-site coordination service (MUSIC) and associated recipes that enables efficient, highly available state-management across geo-redundant sites.\n\nMoved to read-only as per RELENG-3648
	state = read only
[plugin "its-jira"]
	enabled = true
